<div> 
	<ul class="list-group list-group-flush">
		<li class="list-group-item"><span> <strong>
			<%= comment.commenter %> </strong> says: </span>
			<span > <%= comment.content %></span>
			<span >
				<em><small>- Posted <%= time_ago_in_words(comment.created_at) %> ago.<%= link_to 'Destroy Comment', [comment.article, comment],
				method: :delete,
				data: { confirm: 'Are you sure?' } %>
				</small> </em>
			</span></li>
			<p>

			</p>
		</ul>
	</div>	